<%= @church.inspect %>
<hr />
<h2>Guides</h2>
<% if @church.guides.present? %>
  <ul>
  <% for guide in @church.guides do %>
    <li>
      <%= link_to(guide.guide_name, guide) %>
    </li>
  <% end %>
  </ul>
<% end %>
<p>
  <%= link_to('Create new guide', new_guide_path) %>
</p>
