@mixin visuallyHidden() {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin bpMinXSmall {
  @media (min-width: breakpoint(x-small)) {
    @content;
  }
}

@mixin bpMinSmall {
  @media (min-width: breakpoint(small)) {
    @content;
  }
}

@mixin bpMinMedium {
  @media (min-width: breakpoint(medium)) {
    @content;
  }
}

@mixin bpMinLarge {
  @media (min-width: breakpoint(large)) {
    @content;
  }
}

@mixin bpMaxXSmall {
  @media (max-width: breakpoint(x-small)) {
    @content;
  }
}

@mixin bpMaxSmall {
  @media (max-width: breakpoint(small)) {
    @content;
  }
}

@mixin bpMaxMedium {
  @media (max-width: breakpoint(medium)) {
    @content;
  }
}

@mixin bpMaxLarge {
  @media (max-width: breakpoint(large)) {
    @content;
  }
}

@mixin unbulleted-list() { 
  padding: 0;
  list-style-type: none;
}

@mixin unstyled-input() { 
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
}

@mixin unstyled-list() { 
  @include unbulleted-list;
  margin: 0;
}
