.form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  @include bpMinLarge {
    max-width: 1600px;
  }

  a:hover {
    color: coreColor(black);
  }
}

@include bpMinLarge {
  .form__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    justify-items: stretch;
    align-items: start;
  }
}

.form__field {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 20px;
  position: relative;
  width: 100%;

  &__desc {
    position: absolute;
    font-size: 10px;
    right: 10px;
    background: #a6a6a6;
    color: white;
    padding: 1px 5px;
    top: 1px;
  }
}

.form__label {
  background-color: #a6a6a6;
  border: 1px solid #a6a6a6;
  color: white;
  display: inline-block;
  font-size: 75%;
  padding: 10px;
  text-align: right;
  width: 20%;
  transition: border 0.5s, background-color 0.5s;
}

.form__input {
  border: 1px solid #a6a6a6;
  display: inline;
  flex: auto;
  font-size: 100%;
  margin: 0;
  max-width: 80%;
  overflow: hidden;
  padding: 10px;
  transition: border 0.5s;
  
  &--radio {
    li {
      display: flex;
      align-items: center;
      margin: 0 0 10px;

      &:last-child {
        margin: 0;
      }
    }
  
    input {
      margin-right: 10px;
    }
  }
}


.form__input:focus {
  border-color: #c4674f;

  & + .form__label {
    background-color: coreColor(orange);
    border-color: coreColor(orange);
  }
}

.form__previewimage {
  display: block;
  max-width: 100%;
}

.form__input--inlineRadio {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  input[type="radio"] {
    margin-right: 10px;
  }
}

#error_explanation {
  background-color: #b96666;
  padding: 15px;
  margin-bottom: 15px;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }
}
