.header {
  align-items: center;
  background-color: coreColor(black);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  color: coreColor(white);
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  min-height: 48px;
  padding: 0;
  position: relative;
}

.header__title {
  padding: 10px;
}

.header__navigation {
  margin: 0;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: coreColor(white);
    }
  }
}

.header__navigation__item {
  display: inline;
  margin: 0;
  padding: 10px;
}

.header__navigation__subnav {
  display: none;
  position: absolute;
  background: coreColor(black);
  right: 0;
  padding: 20px 10px 10px;
  max-width: 175px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.header__navigation__subnav__item {
  display: inline-block;
  margin: 0;
  text-align: right;
  width: 100%;

  &--name {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  
    span {
      display: block;
    }
  }
}


.header__navigation__item:hover {
  .header__navigation__subnav {
    display: inline;
  }
}

.header__signout {
  @include unstyled-input();
  color: coreColor(white);;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__navigation__avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
