$headerBP: 500px;

.header {
  background-color: coreColor(black);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  color: coreColor(white);
  font-size: 18px;
  min-height: 48px;
  padding: 0;
  position: relative;

  @media (min-width: $headerBP) {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      color: coreColor(white);
    }
  }
}

.header__body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 780px;
  padding: 0;

  @media (max-width: $headerBP) {
    flex-direction: column;
  }

  @media (min-width: 1080px) {
    margin: 0 auto 0 150px;
  }
}

.header__title {
  padding: 10px;

  @media (max-width: $headerBP) {
    font-size: 1.4em;
    padding: 0;
  }
}

.header__navigation {
  margin: 0;

  @media (max-width: $headerBP) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.header__navigation__item {
  display: inline;
  margin: 0;
  padding: 10px;
  position: relative;
}

.header__navigation__subnav {
  background: coreColor(black);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  display: none;
  max-width: 175px;
  padding: 20px 10px 10px;
  position: absolute;
  right: -10px;
  z-index: 1;

  @media (max-width: $headerBP) {
    right: 0;
  }
}

.header__navigation__subnav__item {
  display: inline-block;
  margin: 0;
  text-align: right;
  width: 100%;

  &--name {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  
    span {
      display: block;
    }
  }
}


.header__navigation__item:hover {
  .header__navigation__subnav {
    display: inline;
  }
}

.header__signout {
  @include unstyled-input();
  color: coreColor(white);;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__navigation__avatar {
  border-radius: 50%;
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

@media (min-width: $headerBP) {
  .header + .wrapper {
    padding-top: 50px;
  }
}
