.scripturePicker {

}

.scripturePicker__preview {
  min-height: 27px;
}

.scripturePicker__title {
  font-size: 100%;
  font-weight: 100;
  margin-bottom: 25px;
}

.scripturePicker__bookSelector {
  position: relative;
}

.scripturePicker__refSelector {
  align-items: end;
  display: flex;
  margin-top: 15px;
  width: 100%;
  
  @include bpMinXSmall() {
    max-width: 350px;
  }

  &__chv {
    display: flex;

    &:first-child{
      &:after {
        content: ' → ';
      }
    }
  }
}

.scripturePicker__input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid coreColor(orange);
  color: white;
  font-size: 150%;
  width: 100%;

  @include bpMinXSmall() {
    max-width: 350px;
  }

  &--number {
    text-align: center;
  }
}

.scripturePicker__btn {
  &--confirm {
    margin-top: 50px;

    @include bpMinXSmall() {
      max-width: 200px;
    }
  }
}

.scripturePicker__autocomplete {
  background: coreColor(white);
  color: coreColor(darkestGrey);
  list-style-type: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include bpMinXSmall() {
    max-width: 350px;
  }

  li {
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
