.scripturePicker {
}

.scripturePicker__preview {
  min-height: 27px;
}

.scripturePicker__bookSelector {
  position: relative;
}

.scripturePicker__refSelector {
  display: flex;
  justify-content: space-between;
  max-width: 350px;

  &__chv {
    display: flex;
    max-width: 175px;

    input {
      max-width: 75px;
    }

    &:first-child {
      &:after {
        content: " → ";
      }
    }
  }
}

.scripturePicker__autocomplete {
  background: coreColor(white);
  color: coreColor(darkestGrey);
  list-style-type: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include bpMinXSmall() {
    max-width: 350px;
  }

  li {
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
