.sortableList {
  margin: 0;
  padding: 0;
}

.sortable {
  transition: all .5s;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 75px auto 130px;
  grid-column-gap: 10px;
  justify-items: start;
  align-items: center;

  &--active {
    grid-template-columns: 40px 75px auto 130px;
  }

  &__handle {
    cursor: move;
    transform: rotate(90deg);
    place-self: center;
    padding: 10px;
  }

  &--placeholder {
    border: 1px solid #ccc;
    list-style-type: none;
  }
}

.sortable__img {
  width: 75px;
  height: 75px;
  border: 1px solid #ccc;
}

.sortable__desc {
  a {
    text-decoration: none;
    display: block;

    &:hover {
      color: darken(coreColor(orange), 10);
    }
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.83px;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.75px;
    margin: 0;
  }
}

.sortable__actions {
  justify-self: right;
}
