$core_colors: (
  white: #ffffff,
  black: #1e1e1e,
  orange: #c56b53,
  green: #92b966,
  primaryBlue: #72a6bf,
  secondaryBlue: #8fc8e2,
  dangerRed: #b96666,
  darkestGrey: #3a3838,
  middleGrey: #a6a6a6,
  lightGrey: #c8c8c8
);

$breakpoints: (
  x-small: 460px,
  small: 768px,
  medium: 1024px,
  large: 1200px
);

@function coreColor($c) {
  @return map-get($core_colors, $c);
}

@function breakpoint($size) {
  @return map-get($breakpoints, $size);
}
