<h1>Guides</h1>

<p>
  <%= link_to(t('guides.new'), new_guide_path) %>
</p>

<% if @guides.present? %>
  <p><%= t('guides.guide_list', church_name: current_user.church.church_name) %></p>
  <ul>
  <% for g in @guides %>
    <li><%= link_to(g.guide_name, g) %></li>
  <% end %>
  </ul>
<% end %>
